<section id="servicesSection" class="services">
  <div class="container">
    <div class="services-inner">
      <div class="services-inner_title">
        <h4>We work with</h4>
        <h2>Amazing Services <span></span></h2>
      </div>

      <div class="services-inner_content">
        <div class="services-inner_content--details">
          <!-- single item -->
          <div class="service">
            <span
              class="service-icon"
              nz-icon
              nzType="clock-circle"
              nzTheme="outline"
            ></span>

            <div class="service-text">
              <h3>Photography</h3>
              <p>
                Photography is the art, application, and practice of creating
                durable images by recording light.
              </p>
            </div>
          </div>
          <!-- single item -->
          <div class="service">
            <span
              class="service-icon"
              nz-icon
              nzType="fund"
              nzTheme="outline"
            ></span>

            <div class="service-text">
              <h3>Web Design</h3>
              <p>
                Web design encompasses many different skills and disciplines in
                the production and maintenance .
              </p>
            </div>
          </div>
          <!-- single item -->
          <div class="service">
            <span
              nz-icon
              nzType="desktop"
              nzTheme="outline"
              class="service-icon"
            ></span>

            <div class="service-text">
              <h3>Creativity</h3>
              <p>
                Creativity is a phenomenon whereby something new and valuable is
                created such as an idea, an artistic or literary work.
              </p>
            </div>
          </div>
        </div>
        <div class="services-inner_content--line"></div>
        <div class="services-inner_content--details">
          <!-- single item -->
          <div class="service">
            <span
              class="service-icon"
              nz-icon
              nzType="read"
              nzTheme="outline"
            ></span>

            <div class="service-text">
              <h3>SEO</h3>
              <p>
                Search engine optimization is the process of improving the
                quality and quantity of traffic to a website from search engines
              </p>
            </div>
          </div>
          <!-- single item -->
          <div class="service">
            <span
              class="service-icon"
              nz-icon
              nzType="home"
              nzTheme="outline"
            ></span>

            <div class="service-text">
              <h3>HTML/CSS</h3>
              <p>
                HTML (HyperText Markup Language) is the code that is used to
                structure a web page and its content.
              </p>
            </div>
          </div>
          <!-- single item -->
          <div class="service">
            <span
              class="service-icon"
              nz-icon
              nzType="expand"
              nzTheme="outline"
            ></span>

            <div class="service-text">
              <h3>Digital</h3>
              <p>
                Digital marketing encompasses all marketing efforts that use an
                electronic device or the internet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
