<!-- slider -->
<div class="review">
  <div class="container">
    <swiper-container
      class="reviewSwiper review-container swiper-button-next svg swiper-button-prev swiper-button-disabled swiper-button-lock"
      slides-per-view="1"
      navigation="true"
    >
      <swiper-slide class="review-container_slide">
        <div class="review-container_slide--details">
          <!-- image -->
          <img src="assets/images/review.jpg" alt="" />
          <!--  <span nz-icon nzType="wechat" nzTheme="outline"></span> -->
          <div class="texts">
            <p class="texts-top">
              "Their creativity and professionalism impressed us greatly. The
              final product exceeded our expectations. Throughout the project,
              their dedication and attention to detail were evident. Highly
              recommended for their exceptional service."
            </p>
            <div class="texts-bottom">
              <div class="texts-bottom_underline"></div>
              <div class="texts-bottom_name">
                <span class="underline"></span>Joshua Earle
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="review-container_slide">
        <div class="review-container_slide--details">
          <!-- image -->
          <img src="assets/images/clients/1.jpg" alt="" />
          <!--  <span nz-icon nzType="wechat" nzTheme="outline"></span> -->
          <div class="texts">
            <p class="texts-top">
              "Highly satisfied with their service. Communication was excellent,
              and the quality of work was exceptional. Would definitely choose
              them again for future projects. Highly recommended to others
              seeking top-quality service. "
            </p>
            <div class="texts-bottom">
              <div class="texts-bottom_underline"></div>
              <div class="texts-bottom_name">
                <span class="underline"></span>Joshua Earle
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
