<section class="design">
  <div class="design-inner">
    <div class="container">
      <div class="design-inner_content">
        <div class="design-inner_content--title">
          <h4>For all devices</h4>
          <h2>Unique Design <span></span></h2>
        </div>

        <div class="design-inner_content--imgbox">
          <img src="assets/images/design/tab.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="design-imgbox">
    <img src="assets/images/design/phone.png" alt="" />
  </div>
</section>
